/* About Us Page Design Start */

.about_us_text{
  border-style: solid;
  border-radius: 10px;
  border-color: #e0e2e5;

  padding: 10px;
  margin-top: 50px;
  margin-right: 26%;
  margin-left: 26%;
  font-size: 20px;
}


/* About Us Page Design End */
