/* About Us Page Design Start */

.home_page_text{
  border-style: solid;
  border-color: #E0E2E9;
  border-radius: 10px;
  font-weight: 300;
  margin: -700px 10% 100px 60%;
  padding: 20px 40px;
  text-align: left;
  font-size: 20px;
}


.Workers{
  border-style: solid;
  border-radius: 40px;
  border-color: #e0e2e5;
  padding: 20px;
  margin: 50px 40% 150px 10%;
}

/* About Us Page Design End */
