/* Contact Us Page Design Start */

  .comment-box
  {
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    width: 400px;
  }

  .comment-box h2
  {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .comment-box input
  {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #FF005D;
  }

  .comment-box input:focus
  {
    border: 1px solid #FF005D;
    outline: 0;
  }

  .comment-box textarea
  {
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #FF005D;
  }

  .comment-box textarea:focus
  {
    border: 1px solid #FF005D;
    outline: 0;
  }

  .comment-box button
  {
    border: 0;
    padding: 10px 30px;
    background: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #FF005D;
    color: #000;
    position: relative;
  }

  .comment-box button:hover
  {
    background-color: #FF4F90;
    transition: .5s;
  }

.forgot{
  margin-top: 225px;
  margin-left: 42.2%;
}
/* Contact Us Page Design End */
